/* Full page center */
.auth-container2 {
  min-height: 100vh;
  background-image: url("../../public/assets/login/bgg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* font-family: "Inter", "Segoe UI", sans-serif; */
}

.auth-container22 {
  /* min-height: 60vh; */
  background: transparent;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* font-family: "Inter", "Segoe UI", sans-serif; */
  padding: 3rem;
  width: 85%;
  gap: 3rem;
}

/* Register card */
.auth-box2 {
  width: 100%;
  /* max-width: 460px; */
  background: rgb(180, 226, 198);
  padding: 40px 35px;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

/* Heading */
.auth-box2 h2 {
  margin-bottom: 25px;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  color: #1f2937;
}

/* Form */
.auth-box2 form {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  gap: 14px;
}

/* Inputs & Select */
.auth-box2 input,
.auth-box2 select {
  padding: 12px 14px;
  border-radius: 6px;
  border: 1px solid #7e7e7e;
  font-size: 14px;
  background-color: transparent;
  transition: border-color 0.2s, box-shadow 0.2s;
      width: 47%;
}

/* Focus */
.auth-box2 input:focus,
.auth-box2 select:focus {
  outline: none;
  border-color: black;
  box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.15);
}

/* Date input consistency */
.auth-box2 input[type="date"] {
  color: #374151;
}

/* Button */
.auth-box2 button {
  margin-top: 12px;
  padding: 12px;
  background-color: black;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.1s;
}

.auth-box2 button:hover:not(:disabled) {
  background-color: rgb(180, 226, 198);
  color: black;
  border-bottom: 1px solid black;
}

.auth-box2 button:active:not(:disabled) {
  transform: scale(0.98);
}

.auth-box2 button:disabled {
  background-color: #9ca3af;
  cursor: not-allowed;
}

/* Links */
.auth-links2 {
  margin-top: 18px;
  text-align: center;
}

.auth-links2 a {
  font-size: 14px;
  color: black;
  text-decoration: none;
  transition: color 0.2s;
}

.auth-links2 a:hover {
  color: rgb(180, 226, 198);
  text-decoration: underline;
  color: black;
  border-bottom: 1px solid black;
}

/* Mobile responsiveness */
@media (max-width: 480px) {
  .auth-box2 {
    padding: 15px;
    width: 92%;
  }

  .auth-box2 h2 {
    font-size: 20px;
  }
}